ekf_filter_node:
  ros__parameters:
    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom
    frequency: 50.0
    sensor_timeout: 0.1
    two_d_mode: true
    publish_tf: false
    publish_acceleration: false
    
    odom0: wheel_odom
    odom0_config: [true,  true,  false,
                   false, false, true,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false
    
    imu0: imu/data_raw
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  true,  true,  true,
                  true,  true,  true]
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: true
    imu0_remove_gravitational_acceleration: true
